import(tcltk)
exportPattern("^slider.[a-z]+")
export(bagplot,boxplot2D,compute.bagplot,faces,plot.bagplot,
       plotsummary,plothulls,bagplot.pairs,skyline.hist,
       hdepth,plot.faces,spin3R,stem.leaf,stem.leaf.backback,slider,gslider)
